{
  "$schema": "https://swc.rs/schema.json",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": false,
      "dynamicImport": true
    },
    "target": "es2022",
    "keepClassNames": true,
    "loose": false
  },
  "module": {
    "type": "commonjs"
  },
  "sourceMaps": true
}
